<article>
  <h1>Сергей Балбеко</h1>
  <h2>Человек-твиттер</h2>

  <p>
    Раньше на этой странице был текст про то, чем я занимаюсь в моей обычной айтишной жизни, но я решил его временно убрать <a href="/en">сюда</a>. Если совсем вкратце - я занимаюсь всякими техническими штуками в <a href="http://nowthisnews.com/">одном американском онлайн-СМИ</a>, но это, пожалуй, очень скучная страница моей жизни. Гараздо больше сейчас меня увлекает гражданская журналистика, и результаты этого можно увидеть по ссылкам ниже.
  </p>
  <p>
    Вот вам несколько клёвых штук, к которым я имею отношение:
    <ul>
      <li> Например вот такой вот общественно полезный <a href="http://fakecontrol.org/">Фейк-Контроль</a></li>
      <li> Или мой личный <a href="http://twitter.com/balbeko">твиттер</a>, на который вы можете смело подписаться</li>
      <li> А еще я иногда пишу свои мысли <a href="http://medium.com/@balbeko">на Медиум</a>, а иногда <a href="http://facebook.com/balbeko">в Фейсбук</a></li>
      <li> И стараюсь быть в гуще всех важных событий Харькова, <a href="http://ustream.tv/channel/balbeko">транслируя их</a> в прямом эфире.</li>
    </ul>
  </p>
  <p class="last"> Связаться со мной проще всего <a href="mailto:sergey@balbeko.com">письмом</a> или по ссылкам ниже</p>
</article>