<article>
  <h1>Sergey Balbeko</h1>
  <h2>Site Reliability Engineer from Ukraine </h2>

  <p>
    My code lives here <a href="https://github.com/balbeko">github.com/balbeko</a> and here <a href="http://community.opscode.com/users/m0s">community.opscode.com/users/m0s</a>
  </p>
  <p>
    I write Ruby and Coffee-Script for fun. I love <a href="http://github.com/github/hubot">github.com/github/hubot</a> and sometimes I <a href="https://github.com/github/hubot/commits?author=balbeko">push</a> small fixes there.
  </p>
  <p>
    I work at <a href="http://nowthisnews.com/">NowThis News</a> and living in Kharkov with <a href="https://twitter.com/emy_ty">Tonya</a>.
  </p>
  <p class="last"> Contact me at <a href="https://twitter.com/balbeko">@balbeko</a> or <a href="mailto:sergey@balbeko.com">sergey@balbeko.com</a></p>
</article>