<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title || "Sergey Balbeko" %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="author" href="http://github.com/balbeko">
    <link rel="license" href="http://balbeko.mit-license.org/">
    <link rel="stylesheet" href="/css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
    </header>

    <%= yield %>

    <footer>
      <ul>
        <li> <a href="http://ustream.tv/channel/balbeko"><strong>Ustream</strong></a> </li>
        <li> <a href="http://youtube.com/balbeko"><strong>YouTube</strong></a> </li>
        <li> <a href="https://twitter.com/balbeko"><strong>Twitter</strong></a> </li>
        <li> <a href="https://instagram.com/balbeko">Instagram</a> </li>
        <li> <a href="https://www.facebook.com/sergey.balbeko">Facebook</a> </li>
        <li> <a href="https://github.com/balbeko">Github</a> </li>
      </ul>
    </footer>
    
    <script type="text/javascript" src="/js/share42.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44471247-1', 'balbeko.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
