<article class="share">
  <article>
    <h1> Что-то пошло не так! </h1>
    <p>
    На этой странице были расположены вебкамеры Харькова, которые в городе появились к проведению марафона. К сожалению, сегодня, 14 апреля 2014 года - вебкамеры были отключены и сайт марафона больше недоступен. А жаль. Спасибо что смотрели. Вы можете подписаться на обновления в <a href="http://twitter.com/balbeko">Twitter</a> или по ссылкам внизу страницы.
    </p>
  </article>
  <p class="last"><a href="/">На главную</a></p>
</article>
