<% @webcams.each do |cam| %>
  <article>
    <h1><%= cam[:h1] %></h1>
    <h2><%= cam[:h2] %></h2>
    <object type="application/x-shockwave-flash" data="http://marathon.infocity.kharkov.ua/wp-content/plugins/stream-video-player/player.swf?ver=1.3.3" width="848" height="480" name="svdo_0">
      <param name="quality" value="high">
      <param name="allowfullscreen" value="true">
      <param name="allowscriptaccess" value="always">
      <param name="flashvars" value="controlbar=over&amp;dock=true&amp;autostart=true&amp;volume=90&amp;provider=rtmp&amp;streamer=rtmp://stream.city.kharkov.ua:1935/elka&amp;file=<%= cam[:file] %>&amp;responsive=16:9&amp;stretching=exactfit&amp;logo.hide=true&amp;logo.position=top-left&amp;logo.file=&amp;logo.out=1&amp;screencolor=292929&amp;logo.link=&amp;bufferlength=5&amp;image=http://i.imgur.com/6Ifsrda.png">
      <!--[if !IE]>-->
      <video data="http://i.imgur.com/6Ifsrda.png" class="videoWrapper wideScreen" controls="" autobuffer="">
        <source src="http://stream.city.kharkov.ua:1935/velo/<%= cam[:file] %>/playlist.m3u8" type="video/mp4">
      </video>
      <!--[if !IE]>-->
    </object>
  </article>
<% end %>
<article>
  <p>
    Все вебкамеры взяты с <a href="http://marathon.infocity.kharkov.ua">сайта</a> харьковского международного марафона.
  </p>
  <p class="last"><a href="/">На главную</a></p>
</article>