@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Raleway:400,100);


body {
  font-family: Josefin Slab, Constantia, Georgia, serif;
  padding: 8px;
  line-height: 1.3em;
  color: #444;
}

article {
  max-width: 760px;
  margin: 10px auto 0;
  text-align: justify;

}

h1 {
  font-family: Raleway, Constantia, Georgia, serif;
  font-weight: 400;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  font-size: 1.5em;
  margin-bottom: 5px;
  line-height: 1.1em;
}

h2 {
  font-family: Josefin Slab, Constantia, Georgia, serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 0.9em;
  border-bottom: 1px solid #EEE;
  padding-bottom: 0.8em;
  margin-bottom: 5px;
  line-height: 1.25em;
}
.share {
  text-align: center;
}
article p.last {
  border-top: 1px solid #EEE;
  margin-top: 0;
  padding-top: 1.3em;
  text-align: center;
  font-size: 1.05em;
}

article p{
  line-height: 1em;
  -font-size: 1em;
}

a {
  padding: 0.1em;
}

a:link,
a:visited {
  text-decoration: none;
  color: #C53;
  border-bottom: 1px dotted;
}

a:hover {
  background: #D64;
  color: white;
  border: none;
}

a:active {
  background: #920;
}

footer {
  -border-top: 1px solid #EEE;
  font-size: 1em;
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
  margin-top: 5px;
}

footer ul {
  padding-left: 0px;
}

footer li {
  display: inline;
}